body {width: 100%;
    padding: 0;
    margin: 0 auto;
    background-color: #dddddd}

header {background: #666666;
        width: 100%;
        overflow: hidden;}

#main {width: 80%;
    margin: 0 auto;
    overflow: hidden;}

/*Header*/
.logo {float: left;
    background: darkred;
    text-transform: uppercase;}

a {text-decoration: none;
    color: white;}

li {list-style: none;
    display: inline;
    margin: 5px;
    font-size: 15px;
    text-transform: uppercase;}

.nav {float: right;
    margin-top: 15px;}

/*Main Content*/
.main {background: white;
    border: 2px solid #dddddd;
    margin-top: 50px;
    margin-left: 5%;
    padding: 10px;
    height: 870px;}

h1 {color: darkred;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    top: 5%;}

/*Divider*/
#horizontal-line {background-color: #dddddd;
    width: 98%;
    height: 4px;
    margin-top: 30px;}

/*Sports*/    
.container2 {position: relative;
    padding: 10px;
    width: 222px;
    height: 20px;
    bottom: -173px;
    margin-left: 2%;
    text-align: center;
    font-size: 20px;
    color: white;
    background: rgb(56, 1, 56);
    z-index: 2;}

#sportsimage {position: relative;
    float: left;
    border: 2px solid darkgray;
    width: 238px;
    height: 167px;
    left: 2%;
    z-index: 1;}

/*RPG*/
.container3 {position: relative;
    padding: 10px;
    width: 218px;
    height: 20px;
    top: 133px;
    left: 272px;
    text-align: center;
    font-size: 20px;
    color: white;
    background: rgba(32, 32, 32, 0.808);
    z-index: 2;}

#rpgimage {position:relative;
    width: 238px;
    height: 172px;
    bottom: 39px;
    left: 30px}

/*Trivia*/
.container4 {position: relative;
    padding: 10px;
    width: 221px;
    height: 20px;
    top: 100px;
    left: 2%;
    text-align: center;
    font-size: 20px;
    color: white;
    background: rgba(252, 110, 197, 0.87);
    z-index: 2;}

#triviaimage {position: relative;
    width: 241px;
    height:165px;
    bottom: 65px;
    left: 2%;}

/*Information*/
.container5 {position: relative;
    padding: 10px;
    width: 218px;
    height: 20px;
    bottom: 109px;
    left: 271px;
    text-align: center;
    font-size: 20px;
    color: white;
    background: rgb(97, 124, 243);
    z-index: 2;}

#informationimage {position: relative;
    width: 238px;
    height: 165px;
    bottom: 274px;
    left: 271px}

/*Strategy Games*/
.container6 {position: relative;
    padding: 10px;
    width: 221px;
    height: 20px;
    bottom: 128px;
    left: 2%;
    text-align: center;
    font-size: 20px;
    color: white;
    background: black;
    z-index: 2;}

#strategyimage {position: relative;
    border: 2px solid darkgray;
    width: 238px;
    height: 165px;
    bottom: 296px;
    left: 2%}

/*Footer*/
footer {background: #666666;
    width: 100%;
    position: fixed;
    height: 50px;
    bottom: 0px;
    border-top: 5px solid darkred;}

h3 {color: white;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;}

/*Media Queries*/
    @media screen and (max-width: 768px) {
    header {float: none;
                text-align: center;
                width: 100%;}
        
    .nav{margin-right: 5px;}

    .main {width: 100%;
            height: 700px;}
    }
                        
@media screen and (max-width: 640px){
    header .logo,
    header .nav {float: none;
        text-align: center;
        width: 100%;
        padding: 2px;}
    
    .main {width: 100%;
        float: none;
        display: inline-block;
        height: 90%;
        margin-bottom: 40px;}

    .container3 {position: relative;
        padding: 10px;
        width: 222px;
        height: 20px;
        top: 317px;
        left: 2%;
        text-align: center;
        font-size: 20px;
        color: white;
        background: rgba(32, 32, 32, 0.808);
        z-index: 2;}
            
    #rpgimage {position:relative;
        width: 242px;
        height: 172px;
        bottom: -14px;
        left: 2%}

    .container4 {position: relative;
        padding: 10px;
        width: 221px;
        height: 20px;
        top: 153px;
        left: 2%;
        text-align: center;
        font-size: 20px;
        color: white;
        background: rgba(252, 110, 197, 0.87);
        z-index: 2;}     

    #triviaimage {position: relative;
        width: 241px;
        height: 165px;
        bottom: 13px;
        left: 2%;}

    .container5 {position: relative;
        padding: 10px;
        width: 221px;
        height: 20px;
        bottom: -126px;
        left: 2%;
        text-align: center;
        font-size: 20px;
        color: white;
        background: rgb(97, 124, 243);
        z-index: 2;}
    
    #informationimage {position: relative;
        border: 2px solid darkgray;
        width: 238px;
        height: 165px;
        bottom: 42px;
        left: 2%;}

    .container6 {position: relative;
        padding: 10px;
        width: 221px;
        height: 20px;
        bottom: -100px;
        left: 2%;
        text-align: center;
        font-size: 20px;
        color: white;
        background: black;
        z-index: 2;}

    #strategyimage {position: relative;
        border: 2px solid darkgray;
        width: 238px;
        height: 165px;
        bottom: 68px;
        left: 2%;}
        }